<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.app.mapper.ProclamationMapper">

	<select id="selectProclamationList" resultType="cn.stylefeng.guns.modular.system.entity.Proclamation">
		select 
			PROCLAMATION_ID proclamationId,
			CONTENT content,
			TITLE title,
			CREATE_TIME createTime,
			IS_TOP isTop,
			INTRODUCE introduce
		 from proclamation
		<where>
	      	<if test="proclamationId != null and proclamationId !=''">
	      		and PROCLAMATION_ID = #{proclamationId}
	      	</if>
	      	<if test="isTop != null">
	      		and IS_TOP = #{isTop}
	      	</if>
      	</where>
        <choose>
            <when test="sort  != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by CREATE_TIME desc
            </otherwise>
        </choose>
        <if test="offset != null  and limit != null and limit !=''">
            limit #{offset}, #{limit}
        </if>
	</select>
	<select id="selectProclamationListCount" resultType="int">
		select 
			count(*)
		 from proclamation
		 	<where>
	      	<if test="proclamationId != null and proclamationId !=''">
	      		and PROCLAMATION_ID = #{proclamationId}
	      	</if>
	      	<if test="isTop != null">
	      		and IS_TOP = #{isTop}
	      	</if>
      	</where>
	</select>
</mapper>
