<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.MerchantIpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.MerchantIp">
        <id column="ID" property="id"/>
        <result column="IP_ADDRESS" property="ipAddress"/>
        <result column="USER_ID" property="userId"/>
        <result column="TYPE" property="type"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, IP_ADDRESS AS ipAddress,USER_ID userId,TYPE as type,CREATE_TIME createTime,UPDATE_TIME AS updateTime
      </sql>

     <select id="list" resultType="map">
        select
         mp.ID id,
         mp.IP_ADDRESS ipAddress,
         su.ACCOUNT_CODE account
        from merchant_ip mp
        inner  join  sys_user su on  su.USER_ID = mp.USER_ID
        <where>
            <if test="type != null and type !=''">
                and mp.TYPE = #{type}
            </if>
            <if test="ipAddress != null and ipAddress !=''">
                and mp.IP_ADDRESS = #{ipAddress}
            </if>
            <if test="account != null and account !=''">
                and su.USER_ID  = (select USER_ID from sys_user where ACCOUNT_CODE = #{account} and STATUS = 'ENABLE' AND ROLE_ID = 2)
            </if>
        </where>
    </select>

</mapper>
