<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.SellerWithdrawCoinAppealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.SellerWithdrawCoinAppealOrder">
        <id column="APPEAL_ID" property="appealId"/>
        <result column="NUMBER" property="number"/>
        <result column="ADDRESS" property="address"/>
        <result column="FEE_PRICE" property="feePrice"/>
        <result column="SELLER_ID" property="sellerId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STATUS" property="status"/>
        <result column="TOTAL_NUMBER" property="totalNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APPEAL_ID AS appealId, NUMBER AS number,ADDRESS as address,FEE_PRICE as feePrice,SELLER_ID as sellerId,CREATE_TIME as createTime
        ,UPDATE_TIME updateTime,STATUS as status,TOTAL_NUMBER as totalNumber,USER_ACCOUNT userAccount
      </sql>

     <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from seller_withdraw_coin_appeal_order
         <where>
	        <if test="address != null and address != ''">
	             and ADDRESS = #{address}
	        </if>
	         <if test="status != null">
	             and STATUS = #{status}
	        </if>
	        <if test="phone != null and phone !=''">
	        	and SELLER_ID = (
	        		SELECT SELLER_ID from seller where ACCOUNT = #{phone}
	        	)
	        </if>
	         <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
          		 and (CREATE_TIME between #{beginTime} and #{endTime})
      		 </if> 
        </where>
        order by CREATE_TIME desc
    </select>

</mapper>
