<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.SellerChargerCoinAppealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.SellerChargerCoinAppealOrder">
        <id column="APPEAL_ID" property="appealId"/>
        <result column="SELLER_ID" property="sellerId"/>
        <result column="HASH_VALUE" property="hashValue"/>
        <result column="NUMBER" property="number"/>
        <result column="ADDRESS" property="address"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_TIME" property="createTime"/>
         <result column="UPDATE_TIME" property="updateTime"/>
         <result column="SERIALNO" property="serialno"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APPEAL_ID AS appealId, SELLER_ID AS sellerId,HASH_VALUE as hashValue,NUMBER as number,ADDRESS as address,STATUS as status
        ,CREATE_TIME createTime,UPDATE_TIME as updateTime,SERIALNO as serialno,USER_ACCOUNT userAccount
      </sql>

     <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from seller_charger_coin_appeal_order
        <where>
	        <if test="hashValue != null and hashValue != ''">
	             and HASH_VALUE = #{hashValue}
	        </if>
	        <if test="serialno != null and serialno != ''">
	             and SERIALNO = #{serialno}
	        </if>
	         <if test="status != null">
	             and STATUS = #{status}
	        </if>
	        <if test="phone != null and phone !=''">
	        	and SELLER_ID = (
	        		SELECT SELLER_ID from seller where ACCOUNT = #{phone}
	        	)
	        </if>
	         <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
          		 and (CREATE_TIME between #{beginTime} and #{endTime})
      		 </if> 
        </where>
        order by CREATE_TIME desc
    </select>

</mapper>
