<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.USDTOtcpExchangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.USDTOtcpExchange">
        <id column="EXCHANGE_ID" property="exchangeId"/>
        <result column="VALUE" property="value"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EXCHANGE_ID AS exchangeId, VALUE AS value
      </sql>

     <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from usdt_otcp_exchange
        <if test="condition != null and condition != ''">
            where TITLE like CONCAT('%',#{condition},'%') or CONTENT like CONCAT('%',#{condition},'%')
        </if>
    </select>

</mapper>
