<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.UserOtcFeeSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.UserOtcFeeSetting">
        <id column="SETTING_ID" property="settingId"/>
        <result column="RATIO" property="ratio"/>
        <result column="TYPE" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SETTING_ID AS settingId, RATIO AS ratio,TYPE type  
      </sql>

     <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from user_otc_fee_setting
        <where>
          <if test="type != null and type !=''">
        	  and TYPE = #{type}
        	</if>
        </where>
      
    </select>

</mapper>
